<html layout:decorator="layout">
<div layout:fragment="content">


	<form class="form-horizontal" method="post" name="comment_form"
		id="comment_form" th:object="${record}" action="/records/create"
		role="form">
		<fieldset>
			<div id="legend">
				<legend class="">Create Record</legend>
			</div>

			<div class="control-group">
				<!-- Username -->
				<label class="control-label" for="username">Name*</label>

				<div class="controls">

					<input type="text" id="name" name="name" placeholder=""
						class="input-xlarge" /> <font color="red">
						<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
							Error</td>
					</font>

					<p class="help-block">Max 25 characters</p>
				</div>
			</div>

			<div class="control-group">
				<!-- E-mail -->
				<label class="control-label" for="email">PPS Number*</label>
				<div class="controls">
					<input type="text" id="pps" name="pps" placeholder=""
						class="input-xlarge" /> <font color="red">
						<td colth:if="${#fields.hasErrors('pps')}" th:errors="*{pps}">pss
							Error</td>
					</font>
					<p class="help-block">Must be unique</p>
				</div>
			</div>

			<div class="control-group">
				<!-- E-mail -->
				<label class="control-label" for="email">Date of Birth*</label>
				<div class="controls">

					<input type='date' id="dob" name='dob'
						class="glyphicon glyphicon-calendar" /> <font color="red">
						<td colth:if="${#fields.hasErrors('dob')}" th:errors="*{dob}">DOB
							Error</td>
					</font>

					<div class="container">
						<p class="help-block">Must be over 16</p>
					</div>
				</div>
			</div>


			<div class="control-group">
				<!-- E-mail -->
				<label class="control-label" for="email">Mobile Phone Number</label>
				<div class="controls">
					<input type="text" id="number" name="number" placeholder=""
						class="input-xlarge" /> <font color="red">
						<td colth:if="${#fields.hasErrors('number')}"
						th:errors="*{number}">Number Error</td>
					</font>
					<p class="help-block">Must start with 08</p>
				</div>


			</div>

			<div class="control-group">
				<!-- Button -->
				<div class="controls">
					<button class="btn btn-success">Create Record</button>
				</div>
			</div>
		</fieldset>
	</form>



</div>
</html>